<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Arbetsprov</title>
  <link rel="stylesheet" href="/static/index.css">
  <script src="/static/client.js" type="text/javascript"></script>

</head>

<body>
  <div class="around">
    <div class="buttons">
      <button onclick="location.href='/home_page'" class="tabbuttons activetab">Se lagersaldo för stad</button>
      <button onclick="location.href='/update_lager'" class="tabbuttons">Uppdatera lagersaldo</button>
      <button onclick="location.href='/update_inout'" class="tabbuttons">Rapportera leverans</button>
      <button onclick="location.href='/new_product'" class="tabbuttons">Skapa ny produkt</button>
      <button onclick="location.href='/new_lager'" class="tabbuttons">Skapa ett nytt lager</button>
    </div>

    <div class="start_page">
    <p>Vilket lager vill du se?</p>
    <form id="checkLager" method="post">

      <div class="newLagerID"> <!-- Vilket lager ID -->
        <label for="city">Stad</label>
        <input type="text" id= "city" name="city" required>
      </div>

      <button type="submit" class="submitButton">skicka</button>
    </form>
    <!-- Få till så de läggs i en lista -->
    <p id="showLagerInfo">I {{city}} {{data3|tojson}} finns </p>
    <p id='temptext'></p>
    <script>
      temptext = document.getElementById('temptext');
      var myData = {{data|tojson}};
      var myData2 = {{data2|tojson}};

      for( let i = 0; i < myData.length; i++){
        temptext.innerHTML += "Produkt: " + myData[i] + " " + "Antal: " +
        myData2[i] + "<br/>";
      }
    </script>


    </div>
  </div>
</body>
</html>
