<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Arbetsprov</title>
  <link rel="stylesheet" href="/static/index.css">
  <script src="/static/client.js" type="text/javascript"></script>

</head>

<body>
  <div class="around">
    <div class="buttons">
      <button onclick="location.href='/home_page'" class="tabbuttons">Se lagersaldo</button>
      <button onclick="location.href='/update_lager'" class="tabbuttons">Uppdatera lagersaldo</button>
      <button onclick="location.href='/update_inout'" class="tabbuttons">Rapportera in/ut leverans</button>
      <button onclick="location.href='/new_product'" class="tabbuttons activetab">Lägg till ny produkt</button>
      <button onclick="location.href='/new_lager'" class="tabbuttons">Lägg till eller ta bort lager</button>
    </div>
  </div>
</body>
</html>
