<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Arbetsprov</title>
  <link rel="stylesheet" href="/static/index.css">
  <script src="/static/client.js" type="text/javascript"></script>
</head>

<body>
  <div class="around">
    <div class="buttons">
      <button onclick="location.href='/home_page'" class="tabbuttons">Se lagersaldo för stad</button>
      <button onclick="location.href='/update_lager'" class="tabbuttons">Uppdatera lagersaldo</button>
      <button onclick="location.href='/update_inout'" class="tabbuttons">Rapportera leverans</button>
      <button onclick="location.href='/new_product'" class="tabbuttons">Skapa ny produkt</button>
      <button onclick="location.href='/new_lager'" class="tabbuttons activetab">Skapa ett nytt lager</button>
    </div>

    <div class="start_page">
    <p>Rapportera in ett nytt lager</p>
    <form id="createLager" onsubmit="return createLager()" method="post">

      <div class="newLager"> <!-- Vilket lager som ska läggas till -->
        <label for="lager">Stad</label>
        <input type="text" id= "lager" name="lager" required>
      </div>

      <div class="newLagerID"> <!-- Vilket lager ID -->
        <label for="lagerID">LagerID</label>
        <input type="text" id= "lagerID" name="lagerID" required>
      </div>

      <button type="submit" class="submitButton">skicka</button>
    </form>

    <p id="errormessage"> {{data}} </p>

    <p>Radera ett lager</p>
    <form id="deleteLager" onsubmit="return deleteLager()" method="post">
      <div class="deleteLager"> <!-- Vilket lager som ska raderas -->
        <label for="lagerToDelete">Stad</label>
        <input type="text" id= "lagerToDelete" name="lagerToDelete" required>
      </div>

      <button type="submit" class="submitButton">skicka</button>
    </form>
    </div>
  </div>
</body>
</html>
