<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Arbetsprov</title>
  <link rel="stylesheet" href="/static/index.css">

</head>

<body>
  <div class="around">
    <div class="buttons">
      <button onclick="location.href='/home_page'" class="tabbuttons">Se lagersaldo för stad</button>
      <button onclick="location.href='/update_lager'" class="tabbuttons">Uppdatera lagersaldo</button>
      <button onclick="location.href='/update_inout'" class="tabbuttons activetab">Rapportera leverans</button>
      <button onclick="location.href='/new_product'" class="tabbuttons">Skapa ny produkt</button>
      <button onclick="location.href='/new_lager'" class="tabbuttons">Skapa ett nytt lager</button>
    </div>
    <div class="start_page">
      <div class="pages" id="update_inout">
        <p>Rapportera in/ut leverans</p>
        <form id="update_inout" method="post">

          <div class="productInOut"> <!-- Vilken produkt som skickas -->
            <label for="product">Produkt</label>
            <input type="text" id= "product" name="product" required>
          </div>

          <div class="cityTo"> <!-- Vilken stad som produkten anländer i -->
            <label for="cityTo">Stad till</label>
            <input type="text" id= "cityTo" name="cityTo" required>
          </div>

          <div class="cityFrom"> <!-- Vilken stad som produkten skickas från -->
            <label for="cityFrom">Stad från</label>
            <input type="text" id= "cityFrom" name="cityFrom" required>
          </div>

          <div class="productAmountOut"> <!-- Antal som skickas -->
            <label for="amountOut">Antal</label>
            <input type="text" id= "amountOut" name="amountout" required>
          </div>
          <button type="submit" class="submitButton">skicka</button>
        </form>

        <p>{{data}}</p>

        <p>Tidigare leveranserna : </p>
        <p id = "inOutHistory"></p>
        <script>
          inOutHistory = document.getElementById('inOutHistory');
          var myData = {{data1|tojson}};

          for( let i = 0; i < myData.length; i++){
            inOutHistory.innerHTML += myData[i][0] + " Produkt: " +  myData[i][1] + " Stad till: " + myData[i][2] + " Stad från: " +  myData[i][3] + " Antal: " + myData[i][4] + " " +  "<br/><br/>";
          }
        </script>
    </div>
    </div>
</body>
</html>
