<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Arbetsprov</title>
  <link rel="stylesheet" href="/static/index.css">

</head>

<body>
  <div class="around">
    <div class="buttons">
      <button onclick="location.href='/home_page'" class="tabbuttons">Se lagersaldo</button>
      <button onclick="location.href='/update_lager'" class="tabbuttons">Uppdatera lagersaldo</button>
      <button onclick="location.href='/update_inout'" class="tabbuttons activetab">Rapportera in/ut leverans</button>
      <button onclick="location.href='/new_product'" class="tabbuttons">Lägg till ny produkt</button>
      <button onclick="location.href='/new_lager'" class="tabbuttons">Lägg till eller ta bort lager</button>
    </div>
    <div class="start_page">
      <div class="pages" id="update_inout">
        <p>Rapportera in/ut leverans</p>
        <form id="update_inout" method="post">

          <div class="productInOut"> <!-- Vilken produkt som skickas -->
            <label for="product">Produkt</label>
            <input type="text" id= "product" name="product" required>
          </div>

          <div class="cityTo"> <!-- Vilken stad som produkten anländer i -->
            <label for="cityTo">Stad till</label>
            <input type="text" id= "cityTo" name="cityTo" required>
          </div>

          <div class="cityFrom"> <!-- Vilken stad som produkten skickas från -->
            <label for="cityFrom">Stad från</label>
            <input type="text" id= "cityFrom" name="cityFrom" required>
          </div>

          <div class="productAmountOut"> <!-- Antal som skickas -->
            <label for="amountOut">Antal</label>
            <input type="text" id= "amountOut" name="amountout" required>
          </div>
          <button type="submit" class="submitButton">skicka</button>
        </form>

        <p id="errormessage"> test: {{data}}</p>
      </div>
    </div>
    </div>
</body>
</html>
